<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Add Collaborator</h1>

      <% include ../static/partials/messages.ejs %>

      <div class="row" id="collaborator">
        <div class="col-xs-6" id="collaborator-user">
          <h3>Users</h3>

          <form action="/wikis/<%= wiki.id %>/create" method="post">
            <% users.forEach((user) => { %>
              <ul>
                <li>
                  <button type="submit" name="btn" value="<%= user.id %>">Add</button> <%= user.username %>
                </li>
              </ul>
            <% }) %>
          </form>
        </div>

        <div class="col-xs-6" id="collaborator-current">
          <h3>Current Collaborators</h3>

          <% collaborators.forEach((collaborator) => { %>
            <ul>
              <li>
                <a href="">
                  <%= collaborator.username %>
                </a>
              </li>
            </ul>
          <% }) %>
        </div>
      </div>

      <br>

      <a href="/wikis/<%= wiki.id %>">
        <button>Return To Wiki</button>
      </a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
