<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Wikis</h1>

      <% include ../static/partials/messages.ejs %>

      <% if (currentUser) { %>
        <a href="/wikis/new" class="btn btn-success" id="new-wiki-btn">New Wiki</a>
      <% } %>

      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
          <% if (wiki.private) { %>
            <% if (currentUser) { %>
              <% if (currentUser.id === wiki.userId || currentUser.role === "admin") { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= wiki.id %>">
                    <%- wiki.title %>
                  </a>
                  <% if (currentUser.id === wiki.userId) { %>
                    <small>created by: <%- currentUser.username %></small>
                  <% } %>
                </li>
              <% } else { %>
                <% collaborators.forEach((collaborator) => { %>
                  <% if (collaborator.wikiId === wiki.id) { %>
                    <li class="list-group-item">
                      <a href="/wikis/<%= wiki.id %>">
                        <%- wiki.title %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              <% } %>
            <% } %>
          <% } else { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>">
                <%- wiki.title %>
              </a>
              <% if (currentUser && currentUser.id === wiki.userId) { %>
                <small>created by: <%- currentUser.username %></small>
              <% } %>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
